<div class="scriby-module module-{{name}}">
	<div class="scriby-module-title">
		<h1>{{name}}</h1>
	</div>
	<div class="scriby-module-classes">
		{{#each classes}}
			{{>class}}
		{{/each}}
	</div>
</div>