<div class="scriby-param">
	<div class="scriby-param-name">{{name}}</div>
	<div class="scriby-param-type">{{type}}</div>
	<div class="scriby-param-description">{{description}}</div>
	{{#if optional}}
	<div class="scriby-param-optional">optional</div>
	{{/if}}
	{{#if multiple}}
	<div class="scriby-param-multiple">multiple</div>
	{{/if}}
</div>